@model Usuario
<h1>Realize a Edição do Usuário</h1>

<form asp-action="editarUsuario" method="post">
    <input type="text" asp-for="Nome" id="userNome" value="@Model.Nome">
    <input type="text" asp-for="login" id="userlogin" value="@Model.login">
    <input type="text" asp-for="senha" id="userSenha" value="@Model.senha">

    <select asp-for="tipo" id="userTipo">
        <option value="@Usuario.ADMIN">Administrador</option>
        <option value="@Usuario.PADRAO">Padrão</option>
    </select>

    <input type="hidden" asp-for="Id"/>

    <input type="submit" value="CONCLUIR EDIÇÃO">

</form>